body,html{
  padding:0px;
  margin:0px;
  font-family:Arial;
}

#wraper{
  width:950px;
}

#header{
  margin:10px;
}
#profile, #reservations, #adds{
  border:1px solid #333;
  background:#ccc;
  float:left;
  margin-bottom:10px;
  padding:10px;
}

#links-nav{
  padding:10px;
  background: #c3d9ff; /* old browsers */
  background: -moz-linear-gradient(top, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3d9ff), color-stop(41%,#b1c8ef), color-stop(100%,#98b0d9)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* ie */
}

#links-nav a{
  text-decoration:none;
  color:#333;
}

#links-nav a:hover{
  color:#000;
}



#profile{
  width:228px;
  margin-bottom:10px;
}

#squares {
  float:left;
  width:667px;
  margin-right:10px;
}

#center-box{
  border:1px solid #ccc;
  width:300px;
  margin: 20px auto ;
  padding:10px;
}

#payments{
  width:645px;
  /*border:1px solid #333;*/
  margin-bottom:10px;
  padding:10px;
}

#reservations{
  width:307px;
  margin-right:10px;
}

#adds{
  width:306px;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 10px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
  padding:10px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #ddd;
	padding: 5px;
}